@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary-bg-color: #0a192f; /*Dary Navy for BGC */
  --secondary-bg-color: #1f4068; /*Darker blur for BGC of containers */
  --primary-text-color: #f4f4f4; /*Light Gray Body text, paragraph */
  --secondary-text-color: #8892b0; /*soft blur Gray dates, captions */
  --heading-text-color: #50e3c2; /*for Hewading , title, progress bar */
  --success-color: #4caf50; /* Green For success yeh! */
  --error-color: #4caf50; /* Red For warning */
  --button--icon-hightlight-color: #e43f5a; /*Bright red for Buttons, icons, highlights. */
  --hover-bg: #ff6f61; /*Coral for Hover effects, secondary buttons, animations.s */
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-bg-color);
}
a {
  text-decoration: none;
}
.max-width {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  /* background-color: yellow; */
}
html,
body {
  width: 100%;
  /* overflow-x: clip; */
}
/* Header sections starts from here */
header {
  color: var(--primary-text-color);
  width: 100%;
  position: relative;
  background-color: var(--secondary-bg-color);
}
.header-box {
  /*  everything inside this box */
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-box span {
  font-size: 1.7rem;
  font-weight: 600;
}
.logo-color {
  color: var(--heading-text-color);
}
nav ul li {
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  height: 5px;
  width: 0;
  border-radius: 4px;
  margin: auto;
  background-color: var(--button--icon-hightlight-color);
  transition: 0.5s ease;
}
ul li:hover::after {
  width: 90%;
}
ul li a {
  text-decoration: none;
  color: var(--primary-text-color);
}
#menu-open {
  cursor: pointer;
  display: none;
}
#menu-open:active {
  color: green;
}
.viewed-menu {
  display: block;
  z-index: 10;
}

/* Hero section starts from Here */
.hero-container {
  width: 100%;
  height: calc(100vh - 30px);
  position: relative;
}
div.small-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-text-color);
}
div.small-container p {
  font-size: 20px;
  color: var(--secondary-text-color);
}
div.small-container h2 {
  font-size: 2rem;
}
.small-container p:last-child {
  color: var(--primary-text-color);
  font-size: 1.4rem;
}
#typeBox {
  position: relative;
  color: var(--button--icon-hightlight-color);
}
#typeBox::after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: brown;
  position: absolute;
  bottom: 1px;
  margin-left: 2px;
}

/* About Section starts from here */
.about-container {
  min-height: 100vh;
}
.about-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--primary-text-color);
  min-height: 40vh;
}
.about-children {
  flex-basis: 50%;
  min-height: 200px;
}
.about-children:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-children img {
  max-width: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-children:nth-child(2) {
  padding: 20px;
}
.about-children h2 {
  font-size: 2rem;
}
.about-children p {
  font-size: 0.85rem;
  text-align: justify;
}
.title-head {
  display: flex;
  gap: 10px;
  padding: 4px 0px;
  margin: 10px 0px;
}
.title-head .title {
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}
.activee::after {
  transition: width 0.3s ease;
  content: "";
  position: absolute;
  background-color: var(--hover-bg);
  left: 0;
  bottom: -2px;
  border-radius: 3px;
  width: 100%;
  height: 2px;
}
.explaination {
  text-align: justify;
  display: none;
  font-size: 0.85rem;
}
.explaination ul li {
  margin: 8px 0px;
  font-size: 0.85rem;
}
.show-info {
  display: block;
}
/* My services section starts from Here */
.services-container {
  min-height: 100vh;
}
.heading {
  font-size: 2rem;
  color: var(--primary-text-color);
  text-align: center;
}
.services-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0px;
  gap: 10px;
}
.services-item {
  background-color: var(--secondary-bg-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  min-width: 300px;
  flex-basis: 32.5%;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  transition: background, transform 0.3s linear;
}
.services-item:hover {
  background-color: var(--hover-bg);
  transform: translateY(-10px);
}
.services-item h3 {
  color: var(--primary-text-color);
  margin: 10px 0px;
}
.services-item p {
  color: var(--secondary-text-color);
}
.services-item img {
  margin-top: 10px;
  width: 80px;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
}

/* My Project section Begins from Here */
.projects-container {
  min-height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-container div .heading {
  margin: 20px 0px 40px 0px;
}
.project-box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.project-box .project-item {
  min-width: 300px;
  flex-basis: 30%;
  border-radius: 5px;
  position: relative;
  background-color: green;
  /* padding: 20px; */
}
.project-item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 5px;
}
.layer-here {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  padding: 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: var(--primary-text-color);
  background: linear-gradient(rgba(0, 0, 0, 0.5), #e43f5a);
  overflow: hidden;
  transition: height 0.3s linear;
}
.layer-here h3 {
  font-size: 1rem;
}
.layer-here p {
  font-size: 0.85rem;
  text-align: center;
}
.layer-here a {
  color: var(--primary-text-color);
}
.project_see {
  cursor: pointer;
  padding: 5px;
  border: 2px solid var(--button--icon-hightlight-color);
  color: brown;
  font-weight: 600;
  border-radius: 5px;
}
.project_see:hover {
  background-color: #dc928b;
  color: var(--primary-text-color);
}
.project-item:hover .layer-here {
  height: 100%;
}

/* Media queries begins from here */
@media (max-width: 750px) {
  /* Header part */
  #menu-open {
    display: block;
  }
  nav ul {
    background-color: var(--secondary-bg-color);
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    text-align: center;
    display: none;
  }
  nav ul li {
    display: block;
    margin: 20px;
  }
  ul li:hover::after {
    width: 80px;
  }
  /* About section Part */
  .about-box {
    flex-direction: column;
  }
}
